
/* Your CSS Code here. */
*
{
	font-family: "Parkinsans", sans-serif;
}
body
{
	overflow-x:hidden;
}
.video-container
{
	display:flex;
	justify-content:center;
	width:100% !important;
	margin:10px;
}

ul
{
	width:100%;
	display:flex;
	justify-content:center;
}

li{
	list-style:none;
	display:flex;
	margin-left:10px;
	
}